<h1>Create New Users</h1>

<%= form_tag ('/users', method: 'post') do%>
  <%= label_tag (:username, 'User name')%>
  <%= text_field_tag (:username)%>
  <%= label_tag (:email, 'email')%>
  <%= text_field_tag (:email)%>
  <%= label_tag (:password, 'password')%>
  <%= text_field_tag (:password)%>
  <%= submit_tag ('send')%>
<% end %>